body {
  font-family: 'Roboto Condensed', sans-serif;
  color: #333;
}

h2 {
  margin-top: 30px;
  margin-bottom: 10px;
}

td {
  padding: 3px;
}

tr:nth-child(even) {
   background-color: #F6EFDF;
}

#games td {
  padding-top: 6px;
  padding-bottom: 6px;
}

td a {
  display: block;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

th {
  text-align: right;
  padding: 3px;
}

td.number {
  text-align: right;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 700px;
}

.won {
  color: #157415;
  font-weight: bold;
}

.lost {
  color: #D44247;
  font-weight: bold;
}

a,
a:link,
a:active,
a:visited,
a:hover {
    color: #C9951E;
    text-decoration: none;
}

a:hover {
  font-weight: bold;
}


