body {
  font-family: 'Roboto Condensed', sans-serif;
}

td {
  border-bottom: 1px solid #999;
  padding: 3px;
}

th {
  text-align: right;
}

td.number {
  text-align: right;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 700px;
}

.won {
  color: green;
}

.lost {
  color: red;
}

